<div class="container">
  
  <h1>POSTS</h1>
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
  <% if user_signed_in? %>
    <p>Current user: <%= current_user.email.split('@').first %></p><br>
  <%end%>
  
  <!--if wanna hide email address,
       put "split('@').first"
  -->
  
  <!--if user is sign in, show show sign out-->
  <% if user_signed_in? %> 
   <a href="/users/sign_out">Sign Out</a><br>
  <% else %>
  <!--if user is sign in, show show sign out-->
    <a href="/users/sign_up">Sign Up</a><br>
    <a href ="/users/sign_in">Sign In</a><br>
  <%end%>
  
  <!--if user is sign in, show show sign out-->
    <form action="/write" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" placeholder="title" name="tt">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Content</label>
        <textarea class="form-control" placeholder="content" name="cc"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  <hr>
    
<!---RUBY-->
  <h3>View previous posts</h3>
   <div class="row">
    <% @pp.each do |p| %> <!---go to each @pp -->
      <div class="col-md-6"> <br>
        Title: <%=p.title%> <br>
        Content: <%=p.content%> <br>
        Name: <%=p.user.email %> <br>
        Time: <%= time_ago_in_words(p.created_at)+' ago' %> <br>
        
        <a href="/update/<%=p.id%>"><button class="btn btn-xs btn-info">Edit</button></a>
        <a href="/delete/<%=p.id%>"><button class="btn btn-xs btn-danger">Delete</button></a>
        <!---before make update btn, go folders 'views->home', and then make a new file as 'update.html.erb'-->
      
  <!---create form of comments, create model, table and then do migrate-->
      <br><br>
      <form action="/save/comment/--" method="post">
        <div class="form-group">
          +Comment
          <textarea class="form-control" placeholder="Write a comment" name="cc"></textarea>
        <button type="submit" class="btn btn-xs btn-default">Save</button>
        </div>
      </form>
   
      <hr></div>
    <%end%>
  </div>
</div>